<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Row Your Boat</title>
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="content">
        <div class="header">
            <img src="restaurant-logo.png" alt="Logo of Row Your Boat" class="logo">
        </div>
        <div class="navigation">
            <ul class="tab">
                <li id="home" class="selected">Home</li>
                <li id="menu">Menu</li>
                <li id="contact">Contact Us</li>
            </ul>
        </div>
        <div class="sub-content">
            <div class="contact-container sub-content-container">
                <div class="contact-title">Contact Us</div>
                <div class="contact-details-box">
                    <div class="contact">
                        <img src="./phone.png" alt="" class="icon" id="phone">
                        <div class="details">1234567890</div>
                    </div>
                    <div class="contact">
                        <img src="./email.png" alt="" class="icon" id="email">
                        <div class="details">goodluckfindingus@notreal.com</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Created by Mohammed Shafeek, 2023
        </div>
    </div>
</body>
</html>